.modal-content {
  border-width: 0;
  height: 100%;
  justify-content: space-between;
}

.modal-backdrop {
  background-color: darken($gray-900, 5%);

  &.show { opacity: .8; }
}
.modal-body{
  height: calc(100vh - 23vh);
}
